.surveyForm {
  justify-content: center;
}

.form-element {
  display: flex;
  align-items: center;
  padding: 10px;
}

.form-element input {
  width: 500px;
  border: none;
  border-bottom: 1px solid grey;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
}

.form-element input:focus {
  outline: none;
}

.submitButton {
  width: 100px;
  margin: auto;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 3px;
}

.submitButton:focus {
  outline: none;
}
