@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/coverImage.jpg');
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
  display: flex;
  flex-direction: column;
}

.centeredItems {
  justify-content: center;
}

.form-element {
  display: flex;
  flex-direction: column;
}

.starContainer {
  padding: 10px;
  font-size: 38px;
}
